.App {
  text-align: center;
}

.App-header {
  font-family: 'Muli', sans-serif;
  background-color: #cee6d0;
  min-height: 100vh;
}

.App-header > .row > * {
  padding: 0px;
}

.App-link {
  color: #61dafb;
}

.RightMenu {
  background-color: #282c34;
  font-size: calc(10 + 2vmin);
  min-height: 100vh;
  color: white;
  text-align: center;
}